# Default ignored files
/shelf/
/workspace.xml
!/libraries/Maven__org_openjfx_javafx_base_linux_17_0_1.xml

!/libraries/Maven__org_openjfx_javafx_controls_linux_17_0_1.xml

!/libraries/Maven__org_openjfx_javafx_fxml_linux_17_0_1.xml

!/libraries/Maven__org_openjfx_javafx_graphics_linux_17_0_1.xml
